<h2>Listing</h2>

<form (ngSubmit)="onListing()" name="addListing">
    <div>
        <label>
            <input type="text" id="quantity" name="quantity" placeholder="Quantity of Items" [(ngModel)]="listing.quantity"/>
        </label>
    </div>
    <div>
        <label>
            <input type="text" id="availability" name="availability" placeholder="Days/Times services/goods are available" [(ngModel)]="listing.availability"/>
        </label>
    </div>
    <div>
        <label>
            <input type="text" id="description" name="description" placeholder="Description of goods/services"[(ngModel)]="listing.description"/>
        </label>
    </div>
    <div>
        <label>
            <input type="text" id="requirements" name="requirements" placeholder="List an qualifying requirements to receive goods/services" [(ngModel)]="listing.requirements"/>
        </label>
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>
</form>
