.ng-valid[required], .ng-valid.required {
          border-bottom: 5px solid green;
}
.ng-invalid:not(form) {
          border-bottom: 5px solid red;
}
:host {
     display: block;
     margin-top: 1rem;
}