<!-- Footer -->
<!-- <footer class="page-footer font-medium black"> -->
  <!-- Copyright -->
  <!-- <div *ngIf="userIsAuthenticated" class="footer-copyright text-center py-3">© 2020 Copyright -->
    <!-- <a routerLink="/city-care/about-us"> Thomas & Friends 🚂</a> A Community That Works Together, Grows Together -->
  <!-- </div> -->
  <!-- Copyright -->
<!-- </footer> -->
<!-- Footer -->
<!-- Footer -->

<mat-toolbar  class="page-footer font-medium black container-fluid row" >
  <span>© 2020 Copyright</span>
  <span class="spacer"></span>
  <span><a routerLink="/city-care/about-us"> Thomas & Friends 🚂</a></span>
  <span class="spacer"></span>
  <span>A Community That Works Together, Grows Together</span>
</mat-toolbar> 

<!-- Footer -->
<!-- <footer class="page-footer black">
  <div  class="footer-copyright text-center py-3">
      &copy;2020 Copyright:
      <a routerLink="/city-care/about-us">Thomas & Friends 🚂</a>
      <span>A coummunity that works together, grows together.</span>
  </div>
</footer> -->