<mat-toolbar class="page-footer navbar-dark bg-secondary">
  
  <footer>&copy;2020 Copyright
  
    <a *ngIf="isAuthenticated" href="/city-care/about-us">Thomas & Friends 🚂</a> A Community That Works Together, Grows
    Together
  
  </footer>
  <!-- <div class="container" color="accent">
    <ul *ngIf="isAuthenticated">
      <li>
        <h5>Search City Care site</h5>
      </li>
      <li>
        <a href="/city-care/site-search/" class="btn btn-outline-white btn-rounded">Search!</a>
      </li>
    </ul>
  </div> -->
  
  

</mat-toolbar>

