footer {
  /* text-align: center; */
  font-size: 19px;
  /* font-weight: normal; */
  color: white;
  font-family: Roboto;
}


a {
  color: white;
}

.page-footer {
  position: fixed;
   /* left: 0;  */
  bottom: 0;
  width: 100%;
  height: auto;
}
/* code below spaces the mat-toolbar items evenly, not responsive at all though*/
.spacer {
  flex: 1 1 auto;
}