<footer class="page-footer bg-primary">

  <div class="container">
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Search City Care site</h5>
      </li>
      <li class="list-inline-item">
        <a href="/city-care/site-search/" class="btn btn-outline-white btn-rounded">Search!</a>
      </li>
    </ul>
  </div>

  <div class="footer-copyright text-center py-3">&copy;2020 Copyright

    <a href="/city-care/about-us">Thomas & Friends 🚂</a> | A Community That Works Together, Grows
    Together

  </div>

</footer>
