<body>
  <!--There will be an image here-->
  <div class="jumbotron">
    <h1 class="display-3">City Care</h1>
    <p class="lead">Our goal is simple, connect every community with their local nonprofit oganizations.</p>
    <hr class="my-4">
    <p>We want to make your local nonprofit organizations more easily accesible by letting you connect to them. You can
      see inventory, contacts, and even post your needs for other users and orgs to see!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Register</a>
    </p>
  </div>
</body>
