<div *ngIf="isLoading" class="spinner-border text-primary" role="status">

          <span class="sr-only">Loading...</span>
        
        </div>
<div *ngIf="user">
  {{user.first_name}}

</div>
<div class="card" *ngIf="request && !isLoading && userIsAuthenticated">
          {{request.name}} <br>
          {{request.details}}<br>
          {{request.needByDate}} <br>
          {{request.user_id}}
          <button class="back" routerLink="/city-care/site-postings">Back</button>&nbsp;
      </div>