<div *ngIf="isLoading" class="spinner-border text-primary" role="status">

  <span class="sr-only">Loading...</span>

</div>


      
<mat-card style="width: 160%; background-color: rgb(29, 34, 59);">
  <h2 style="text-align: center;">    Choose a login method</h2>
 <mat-card-subtitle style="text-align: center; font-size: 18px; color: white" >
   Login using email 
   <mat-card-actions style="text-align: right;" >
    <button mat-raised-button class="mat-button-rounded" style="width: 100px; background-color: slategrey; border: 3px outset darkslategrey; margin-right: 10px;" routerLink="/city-care/email-login">Email</button>
  </mat-card-actions>
 </mat-card-subtitle>
 <mat-card-subtitle style="text-align: center; font-size: 18px; color: white">
  Login using email 
  <mat-card-actions style="text-align: right;" >
   <button style="width: 100px; background-color: slategrey; border: 3px outset darkslategrey; margin-right: 10px;" routerLink="/city-care/email-login" mat-raised-button routerLink="/city-care/username-login">Username</button>
 </mat-card-actions>
</mat-card-subtitle>
</mat-card>
  