
<!-- <h1>Please log in below to continue</h1>

<form (ngSubmit)="login()" name="login">
               <div>
                              <label for="name">Email:</label>
                              <input type="email" name="email" placeholder="Enter email" required [(ngModel)]="user.email">
               </div>
               <div>
                              <label for="name">Password:</label>
                              <input type="password" name="password" placeholder="Enter password" required [(ngModel)]="user.password">
               </div>
               <div>
                              <button type="submit">Login</button>
               </div>
</form> -->
<div class="card">
          <div class="card-body">
                    <h3 class="card-title">Please login below</h3>
                    <form (ngSubmit)="login()" name="login">
                              <div>
                                        <label for="name">E-mail:</label>
                                        <input type="email" name="email" placeholder="Enter email" required [(ngModel)]="user.email">
                              </div>
                              <div>
                                        <label for="name">Password:</label>
                              <input type="password" name="password" placeholder="Enter password" required [(ngModel)]="user.password">
                              </div>
                              <div>
                                        <button type="submit">Login</button>
                              </div>
                    </form>
          </div>
</div>