:host {
  display: block;
  margin: 1rem auto;
}

.card {
  width: 100%;
  height: auto;
  background-color: lightgrey;
  border: 4px outset darkslateblue;
  border-radius: 25px;
}
h1 {
  text-align: center;
  margin: 15px 15px;
}
hr {
  border: 3px inset darkslategrey;
}
.container {
  width: 100%;
  height: auto;
}

.section {
  width: 100%;
}

font {
  font-size: 20px;
}

.panel {
  background-color: rgb(223, 223, 223);

  color: black;
}






/*  .card {
 height: auto;
 width: 180%
 }
 mat-expansion-panel {
   width: 170%;
   height: auto;
 } */
