/* :host {
  display: block;
}
.btn {
          padding: 5px 10px;
}

body{
          width: auto;
          height: 90%;
}
h2, h1 {
          text-align: center;
} li {
          list-style-type: none;
          padding: 0;
          width: 15em;
        } */
/*  .delete {
          background-color: red;
          font-weight: bolder;
          float: right;
        } */
/* .badge, li {
          display: flex;
          font-size: medium;
          color: white;
          padding: 0.8em 0.7em 0 0.7em;
          background-color:#405061;
          line-height: 1em;
          position: relative;
          left: -1px;
          top: -4px;
          height: 2em;
          margin-right: 1em;
          border-radius: 6px 0 0 6px;
}
 li {
          list-style: none;
          cursor: pointer;
          position: relative;
          left: 0;
          background-color: #405061;
          font-weight: bold;
          margin: .5em;
          padding: .3em 0;
          height: 2.5em;
          border: 3px outset darkslategrey;
          border-radius: 5px;
        }
li:hover {
          color: #607D8B;
          background-color: #DDD;
          left: .1em;
        }
 li.selected {
          background-color: #CFD8DC;
          color: white;
        }
 li.selected:hover {
          background-color: #BBD8DC;
          color: white;
        }
 */
:host {
  display: block;
  margin: 1rem auto;
}

.card {
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  height: auto;
}

.section {
  width: 100%;
}

font {
  font-size: 20px;
}

.panel {
  background-color: rgb(223, 223, 223);

  color: black;
}






/*  .card {
 height: auto;
 width: 180%
 }
 mat-expansion-panel {
   width: 170%;
   height: auto;
 } */
