<div *ngIf="isLoading" class="spinner-border text-primary" role="status">

  <span class="sr-only">Loading...</span>

</div>


<div class='container-fluid'>
  <a *ngIf="isAuthenticated && !isLoading && isOrg" routerLink="/city-care/create-listing">Create</a>
  <a *ngIf="isAuthenticated && !isLoading && !isOrg" routerLink="/city-care/create-request">Create</a>
  <div class="card" *ngIf="user">

    <div class="display-4"> {{user.first_name}} {{user.last_name}}</div>
    <div class="lead"><span>Username: {{user.username}} Organization: {{user.org_name}}</span></div>
    <div class="my-4"><span>Email: {{user.email}}</span></div>
    <div class="my-4"><span>Phone: {{user.phone}}</span> </div>
    <div class="my-4"><span>Mobile: {{user.mobile_phone}}</span></div>
    <div class="my-4"><span>Address 1: {{user.address1}}</span></div>
    <div class="my-4"><span>Address 2: {{user.address2}}</span></div>
    <div class="my-4"><span>City: {{user.city}} State: {{user.state}} </span></div>
    <div class="my-4"><span>County: {{user.county}}</span>&nbsp; {{user.zip}}</div>
    <br>
    <button type="button" class="btn btn-primary" routerLink="/city-care/home">Back</button>&nbsp;
  <button type="button" class="btn btn-warning" routerLink="/city-care/update-profile/{{user.id}}">Update</button>
  </div>
</div>

<mat-accordion multi="true" *ngIf="listings.length > 0 && !isLoading && isAuthenticated && isOrg">
<h3>My Listings</h3>
                         <mat-expansion-panel *ngFor="let listing of listings">
                                                  <mat-expansion-panel-header>
                                                                           {{ listing.description }}
                                                  </mat-expansion-panel-header>
                                                        QTY:    <p>{{listing.quantity}} </p>
                                                        Need:  <p>{{listing.requirements}}</p>
                                                 When:<p>{{ listing.availability }}</p>
                                                 <mat-action-row>
                                                  <a mat-button color="primary" [routerLink]="['/city-care/update-listing', listing.id]">EDIT</a>
                                                  <button mat-button color="warn" (click)="onClickDeleteListing(listing.id)">DELETE</button>
                                                 </mat-action-row>
                                                                           
                         </mat-expansion-panel>
</mat-accordion>
<hr>
<mat-accordion  multi="true" *ngIf="requests.length > 0 && !isLoading && userIsAuthenticated">
  <h3>My Requests</h3>
  <mat-expansion-panel *ngFor="let request of requests">
                           <mat-expansion-panel-header>
                                                    {{ request.name }}
                           </mat-expansion-panel-header>
                           <p>{{ request.details }}</p>
                           <mat-action-row>
                                                    <a mat-button color="primary" [routerLink]="['/city-care/update-request', request.id]">EDIT</a>
                                                    <button mat-button color="warn" (click)="onClickDeleteRequest(request.id)">DELETE</button>
                           </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>