<body>
          <div *ngIf="isLoading" class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>

          <div class="card" *ngIf="user">
                    <h2>

                      {{user.first_name}} {{user.last_name}}
                    </h2>

                    <hr>

                    <div *ngIf="isOrg" class="details"><span>Organization: {{user.org_name}}</span></div>

                    <div class="details">Name: {{user.first_name}} {{user.last_name}}  <span *ngIf="isOrg">Contact: {{user.contact_name}}</span> </div>

                    <div class="details"><span>Username: {{user.username}}</span></div>

                    <div class="details"><span>Email: {{user.email}}</span></div>

                    <div class="details"><span> Phone: {{user.phone}}</span></div>

                    <div class="details"><span>Mobile: {{user.mobile_phone}}</span></div>

                    <div *ngIf="isOrg" class="details"><span>Fax: {{user.fax}}</span> </div>

                    <div *ngIf="isOrg" class="details"><span>Address 1: {{user.address1}}</span></div>

                    <div *ngIf="isOrg"  class="details"><span>Address 2 {{user.address2}}</span></div>

                    <div class="details"><span>City: {{user.city}} State: {{user.state}} </span></div>

                    <div class="details"><span>County: {{user.county}}</span>&nbsp; {{user.zip}}</div>

                    <br>
                    <button type="submit" class="btn btn-info btn-sm" routerLink="/city-care/home">Back</button>&nbsp;
                    <button type="submit" class="btn btn-info btn-sm" routerLink="/city-care/update-profile/{{user.id}}">Update</button>

          </div>
<hr>
          <div multi="true" *ngIf="requests.length > 0" class="card col">

                    <h1 class="card-title">My Requests</h1>

          <div class="card-body requests">

                    <ul>

                              <li  *ngFor="let request of requests">

                                        <a routerLink="/city-care/update-request/{{request.id}}">

                                        <span class="badge badge-info">{{request.id}} {{request.description}}</span>

                                        </a>

                                        <button class="btn btn-danger delete" (click)="onClickDeleteRequest(request)">X</button>

                              </li>

                    </ul>

          </div>
<hr>
          </div>

          <div multi="true" *ngIf="requests.length > 0" class="card col">

                    <h1 class="card-title">My Listings</h1>

          <div class="card-body listings">

                    <ul>

                              <li  *ngFor="let listing of listings">

                                        <a routerLink="/city-care/update-listing/{{listing.id}}">

                                        <span class="badge badge-info">{{listing.id}} {{listing.description}}</span>

                                        </a>

                                        <button class="btn btn-danger delete btn-sm" (click)="onClickDeleteListing(listing)">X</button>
                                        
                              </li>

                    </ul>

          </div>

          </div>
</body>