<div class="team-info">
          <h2>About Thomas & Friends🚂</h2>
          <p>Four friends all attending Bethel School Of Technologies Full Stack Web Developer Program came together to
                    solve a real world need. Due to the <span class="red">COVID19</span> Pandemic, communities and people around the country have faced 
                    an unprecidented lack of the basic necessities that most people take for granted. Because of this, the team 
                    decided that for their final group project, they would focus on those needs. The end product will be an 
                    application that puts the resources in the hands of the community and the community in touch with the 
                    resources to be able to meet those needs. </p>
</div>
<div class="card">
          <div class="card-body">
                    <h3 class="card-title">Johnathon Kemper</h3>
                    <p class="card-text">This is where the Bio for Jonathon would be placed.</p>
                    <a href="" class="card-link"></a>
                    <a href="" class="card-link"></a>
                    <a href="" class="card-link"></a>
                    <a href="" class="card-link"></a>
          </div>
</div>
<div class="card">
          <div class="card-body">
                    <h3 class="card-title">Peyton Plaisance</h3>
                    <p class="card-text">This is where the Bio for Peyton would be placed.</p>
                    <a href="" class="card-link"></a>
                    <a href="" class="card-link"></a>
                    <a href="" class="card-link"></a>
                    <a href="" class="card-link"></a>
          </div>
</div>
<div class="card">
          <div class="card-body">
                    <h3 class="card-title">Jared Flack</h3>
                    <p class="card-text">This is where the Bio for Jared would be placed.</p>
                    <a href="" class="card-link"></a>
                    <a href="" class="card-link"></a>
                    <a href="" class="card-link"></a>
                    <a href="" class="card-link"></a>
          </div>
</div>
<div class="card">

          <div class="card-body">

                    <img class="thomas image-fluid" src="../../../assets/images/Me 3 6-23-2020.JPG" alt="Me 3 6-23-2020">

                    <h3 class="card-title">Thomas Kremer</h3>

                    <p class="card-text">Thomas is a dedicated web developer living in Hillsborough North Carolina with 
                              
                              experience updating and managing a professional website. Proficient in Full Stack Web Development, 
                              
                              including both front-end development and back-end development. Passionate about teaching and 
                              
                              tutoring other students and professionals on how to keep up with the changing technical industry 
                              
                              as it applies to them. A soon to graduate, experienced, and dedicated web developer, looking to work 
                              
                              in front-end and back-end web development, while teaching and mentoring others on emerging 
                              
                              technologies.
                    </p>

                    <a href="https://www.facebook.com/tbone7248/" class="card-link">

                              <img class="image-fluid" src="../../../assets/icons/icons8-facebook-50.png"
                                        alt="icons8-facebook-50">Facebook</a>

                    <a href="https://github.com/thomasekremer" class="card-link">

                              <img class="image-fluid" src="../../../assets/icons/icons8-github-squared-50.png"
                                        alt="icons8-github-50">GitHub</a>

                    <a href="https://www.instagram.com/thomasekremer/" class="card-link">

                              <img class="image-fluid" src="../../../assets/icons/icons8-instagram-old-50.png"
                                        alt="icons8-instagram-50">Instagram</a>

                    <a href="https://www.linkedin.com/in/thomas-e-kremer-0419b21a1/" class="card-link">

                              <img class="image-fluid" src="../../../assets/icons/icons8-linkedin-50-3.png"
                                        alt="icons8-linkedin-50">LinkedIn</a>

                    <a href="https://https://twitter.com/thomasekremerwww.twitter.com/" class="card-link">

                              <img class="image-fluid" src="../../../assets/icons/icons8-twitter-50-2.png" alt="icons8-twitter-circled-50">Twitter</a>

                    <a href="mailto:tkremer@nc.rr.com" class="card-link">

                              <img class="image-fluid" src="../../../assets/icons/icons8-send-email-50.png" alt="icons8-send-email-50">Contact</a>
          
                    </div>

</div>