<div class="team-info">
          <h2>About Thomas & Friends🚂</h2>
          <p class="about">Four friends all attending Bethel School Of Technology, who took the  
                    
          Full Stack Web Developer Program, came together to solve a real-world need. <br>Due to the 
          
          <span class="red">COVID19</span> Pandemic, communities and people around the country 
          
          have faced an unprecedented lack of the necessities that most people take for granted. <br> Because 
          
          of this pandemic, the team decided that for their final group project, they would focus on those 
          
          needs.  During the project proposal phase, the Lord put it on their hearts to create the City Care 
          
          App. The product will be an application that puts the resources in the hands of the community 
          
          and the community in touch with the resources to be able to meet those needs. </p>
</div>
<div class="card">
          <div class="card-body">

                    <img class="jonathon image-fluid" src="../../../assets/images/team/jonathon.jpg" alt="jonathon.jpg">

                    <h3 class="card-title">Johnathon Kemper</h3>

                    <p class="card-text">Jonathan is a web developer and project manager born and raised in central

                              Maryland. Driven by a desire to always be learning and finding ways to improve, he is a

                              consummate optimizer of systems and processes. He has also been recognized as a leader,

                              initiator, and as someone who can be relied on to get a tough job done the right way. In

                              his personal life, Jonathan enjoys spending time with his wife and two dogs as well as

                              playing guitar, kayaking, and staying current with modern gaming and entertainment.</p>

                              <a href="https://github.com/thomasekremer" class="card-link">

                                        <img class="image-fluid" src="../../../assets/icons/icons8-github-squared-50.png"
                                                  alt="icons8-github-squared-50">GitHub</a>

                              <a href="https://www.linkedin.com/in/thomas-e-kremer-0419b21a1/" class="card-link">

                              <img class="image-fluid" src="../../../assets/icons/icons8-linkedin-50-3.png"
                                        alt="icons8-linkedin-50-3">LinkedIn</a>

                                        <a href="mailto:jonkemper@gmail.com" class="card-link">

                                        <img class="image-fluid" src="../../../assets/icons/icons8-send-email-50.png"
                                        alt="icons8-send-email-50">Contact</a>

          </div>
</div>
<div class="card">
          <div class="card-body">

                    <h3 class="card-title">Peyton Plaisance</h3>

                    <p class="card-text">This is where the Bio for Peyton would be placed.</p>

                    <a href="" class="card-link"></a>

                    <a href="" class="card-link"></a>

                    <a href="" class="card-link"></a>

                    <a href="" class="card-link"></a>

          </div>

</div>

<div class="card">

          <div class="card-body">

                    <h3 class="card-title">Jared Flack</h3>

                    <p class="card-text">This is where the Bio for Jared would be placed.</p>

                    <a href="" class="card-link"></a>

                    <a href="" class="card-link"></a>

                    <a href="" class="card-link"></a>

                    <a href="" class="card-link"></a>

          </div>

</div>

<div class="card">

          <div class="card-body">

                    <img class="thomas image-fluid" src="../../../assets/images/team/thomas.JPG"
                              alt="thomas.JPG">

                    <h3 class="card-title">Thomas Kremer</h3>

                    <p class="card-text">Thomas is a web developer and student living in Hillsborough, 
                    
                    North Carolina with experience updating and managing a professional website.  Proficient 
                    
                    in Full Stack Web Development, Thomas is passionate about teaching and tutoring other 
                    
                    students and professionals on how to keep up with the changing technical industry as it 
                    
                    applies to them.  A soon to be graduate from Bethel School Of Technology, experienced, 
                    
                    and dedicated web developer, looking to work in front-end and back-end web and 
                    
                    application development while teaching and mentoring others on emerging technologies.  
                    
                    When not in school, Thomas is the hospitality leader, audio visual technician, set up 
                    
                    manager as well as a leader in his churches local food mission providing food for those in 
                    
                    need. 
                    </p>

                    <a href="https://www.facebook.com/tbone7248/" class="card-link">

                              <img class="image-fluid" src="../../../assets/icons/icons8-facebook-50.png"
                                        alt="icons8-facebook-50">Facebook</a>

                    <a href="https://github.com/thomasekremer" class="card-link">

                              <img class="image-fluid" src="../../../assets/icons/icons8-github-squared-50.png"
                                        alt="icons8-github-squared-50">GitHub</a>

                    <a href="https://www.instagram.com/thomasekremer/" class="card-link">

                              <img class="image-fluid" src="../../../assets/icons/icons8-instagram-old-50.png"
                                        alt="icons8-instagram-old-50">Instagram</a>

                    <a href="https://www.linkedin.com/in/thomas-e-kremer-0419b21a1/" class="card-link">

                              <img class="image-fluid" src="../../../assets/icons/icons8-linkedin-50-3.png"
                                        alt="icons8-linkedin-50-3">LinkedIn</a>

                    <a href="https://https://twitter.com/thomasekremerwww.twitter.com/" class="card-link">

                              <img class="image-fluid" src="../../../assets/icons/icons8-twitter-50-2.png"
                                        alt="icons8-twitter-50-2">Twitter</a>

                    <a href="mailto:tkremer@nc.rr.com" class="card-link">

                              <img class="image-fluid" src="../../../assets/icons/icons8-send-email-50.png"
                                        alt="icons8-send-email-50">Contact</a>

          </div>

</div>