<h4>About the team</h4>
<p>Four friends all attending Bethel School Of Technologies Full Stack Web Developer Program came together to solve a
          real
          world need. Due to the Covid19 Pandemic, communities and people around the country have faced an unprecidented
          lack of the basic necessities that most people take for granted. Because of this, the team decided that for
          the final project
          they would focus on those needs. The end product will be an application that puts the resources in the hands
          of the community
          and the community in touch with the resources to be able to meet those needs. </p>
<div class="card">
          <div class="card-body">
                    <h5 class="card-title">Johnathon Kemper</h5>
                    <p class="card-text">This is where the Bio for Jonathon would be placed.</p>
                    <a href="" class="card-link"></a>
                    <a href="" class="card-link"></a>
                    <a href="" class="card-link"></a>
                    <a href="" class="card-link"></a>
          </div>
</div>
<div class="card">
          <div class="card-body">
                    <h5 class="card-title">Peyton Plaisance</h5>
                    <p class="card-text">This is where the Bio for Peyton would be placed.</p>
                    <a href="" class="card-link"></a>
                    <a href="" class="card-link"></a>
                    <a href="" class="card-link"></a>
                    <a href="" class="card-link"></a>       
         </div>
</div>
<div class="card">
          <div class="card-body">
                    <h5 class="card-title">Jared Flack</h5>
                    <p class="card-text">This is where the Bio for Jared would be placed.</p>
                    <a href="" class="card-link"></a>
                    <a href="" class="card-link"></a>
                    <a href="" class="card-link"></a>
                    <a href="" class="card-link"></a>
          </div>
</div>
<div class="card">
          <div class="card-body">
                    <h5 class="card-title">Thomas Kremer</h5>
                    <p class="card-text">Dedicated web developer with experience updating and managing a professional
                              website. Proficient in Full Stack Web Development, both front-end development and back-end
                              development. Passionate about teaching and tutoring other students and professionals on how to 
                              keep up with the changing technical industry as it applies to them.
                              A soon to graduate, experienced, dedicated web developer looking to work in front-end and
                              back-end web development while teaching and mentoring others on emerging technologies.
                    </p>
                    <a href="https://www.facebook.com/tbone7248/" class="card-link">Facebook</a>
                    <a href="https://github.com/thomasekremer" class="card-link">GitHub</a>
                    <a href="https://www.instagram.com/thomasekremer/" class="card-link">Instagram</a>
                    <a href="https://www.linkedin.com/in/thomas-e-kremer-0419b21a1/" class="card-link">LinkedIn</a>
          </div>
</div>