:host {
          display: block;
          margin: 1rem auto;
        }
button {
          padding: 5px 15px;
}
.card {
          padding: 20px 20px;
          background-color: rgb(241, 241, 241);
          border: 3px inset lightslategrey;
}
form {
          width: 500px;
          height: auto;
}
h2 {
          text-align: center;
}
input {
          padding: 20px 20px;
}
#needByDate {
          width: 150px;
          padding-top: 20px; 
}