<div *ngIf="isLoading" class="spinner-border text-primary" role="status">

  <span class="sr-only">Loading...</span>

</div>

<div class="form-group">
          <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="listings">
        </div>
        <div class="table">
          <thead>
            <tr>
              <th scope="col">City</th>
              <th scope="col">State</th>
              <th scope="col">Zip Code</th>
              <th scope="col">County</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listingData | filter:listings">
              <td>{{item.city}}</td>
              <td>{{item.state}}</td>
              <td>{{item.zip}}</td>
              <td>{{item.county}}</td>
            </tr>
          </tbody>
        </div>
        <div *ngFor='let item of listingData'>
            {{item.description}}
            {{item.zip}}
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="requests">
        </div>
        <div class="table">
          <thead>
            <tr>
              <th scope="col">City</th>
              <th scope="col">State</th>
              <th scope="col">Zip Code</th>
              <th scope="col">County</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of requestData | filter:requests">
              <td>{{item.city}}</td>
              <td>{{item.state}}</td>
              <td>{{item.zip}}</td>
              <td>{{item.county}}</td>
            </tr>
            <h2>{{27278 | number: '5.0-5'}}</h2>
          </tbody>
        </div>